{% extends 'festival/format.html' %}
{% load static %}


{% block content %}
<style>
        
    div img {
        width: 100%;
    }
    .portfolio-wrap svg.bi-cart3 {
        background : none;
        border: none;
        display: inline;
        position: relative;
        bottom: 70px;
        float: right;
    }
    li.page-item.disabled a.page-link{
        border: 1px solid grey;
        text-decoration: none;
        color: grey;
    }
    a.page-link {
        border: 1px solid  grey;
        text-decoration: none;
        color: grey;
    }


    a.page-link:hover {
        border: 1px solid #EF6480;
        text-decoration: none;
        background-color: #EF6480;
        color: #fff;
    }
    .store-nav {
        margin: 0% 25% 0% 25%;
        border-bottom: 1px dotted grey;
    }
    .store-nav .nav-link{
        text-decoration: none;
        color: grey;
        font-size: 1.3em;
    }
    .store-nav .nav-link:hover {
        background-color:  #EF6480;
        color: #ffffff;
    }
    .store-nav .nav-link.active {
        text-decoration: noen;
        padding: 8px;
        vertical-align: center;
        font-size: 1.3em;
        background-color: grey;
        color: #ffffff;
    }

    /* Pagination */
    .pagination li.active a { 
        color:#fff !important; background:grey!important; border-color:grey !important; 
    }


</style>

<div class="container mt-5 pb-5" style="width: 50%">
    <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="400">
            {% for festival in festivals %}
                {% if festival.format_key == format.format_key%}
                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        {% if festival.image %}
                      <img src="{{ festival.image.url }}" class="img-fluid" alt="업서">
                        {% endif %}
                      <div class="portfolio-info">
                        <h4><a href="{% url 'detail' festival.festival_key %}">{{ festival.name }}</a></h4>
                        <p>{{ festival.content|truncatechars:150 }} </p>
                      </div>
                    </div>
                  </div>
                {% endif %}

            {% endfor %}
    </div>

    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
          {% if festivals.has_previous %}
          <li class="page-item"> <a class="page-link" href="?page={{ festivals.previous_page_number }}"><span>&laquo;</span></a> </li>
          {% else %}
          <li class="page-item disabled"><a class="page-link" href="#"><span>&laquo;</span> </a> </li>
          {% endif %}
          {% for page in paginator.page_range %}
          <li {% if festivals.number == page %} class="page-item active" {% endif %}>
            <a class="page-link" href="?page={{ page }}"><span>{{ page }}</span></a>
          </li>
          {% endfor %}
          {% if festivals.has_next %}
          <li class="page-item">
              <a class="page-link" href="?page={{ festivals.next_page_number }}">
                  <span>&raquo;</span>
              </a>
          </li>
          {% else %}
          <li class="page-item disabled">
              <a class="page-link" href="#">
                  <span>&raquo;</span>
              </a>
          </li>
          {% endif %}
      </ul>
    </nav>
</div>
{% endblock content %}
